.boardWrapper {
  display: flex;
  flex-direction: column;
}

.boardWrapper > * + * {
  margin-top: 2rem;
}

.board {
  margin: auto;
  display: grid;
  max-width: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  grid-gap: 1rem;
  justify-items: center;
  padding: 10px;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.counter > * + * {
  margin-top: 1rem;
}

.counterNote {
  font-size: 0.6em;
}

.counterBadge {
  padding: 1rem;
  border: #333 solid 2px;
  border-radius: 0.3rem;
}
