.headlineContainer {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #eee;
  /* When text wraps it stays sticked to the left of the container */
  text-align: center;
}

.App > * + * {
  margin-top: 2rem;
}
